.main-content {
  display: flex;
  max-width: 100%;
  justify-content: flex-start;
  min-width: 1000px;
}

.main-content>.product {
  width: calc(100% - 400px);
}

.main-content>.summary {
  width: 400px;
}

.carousel {
  margin-left: 0;
}

#nextButton {
  right: 5px;
  left: initial;
}

.reviewsContainer,
.features {
  width: 100%;
}

.reviewsChartContainer {
  width: 280px;
}